@import url('assets.css');

/*
### 01 Typography system

FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

FONT WEIGHTS:
  Default: 400
  Medium: 500
  Semi-bold: 600
  Bold: 700

LINE HEIGHTS:
  Default: 1
  Small: 1.05
  Medium: 1.2
  Paragraph Default: 1.6

LETTER SPACING:
  -0.5px, 0,5px

### 02 Colors

Primary: 
  #e67e22
Shadows:
  #cf711f
Tints:
  #fdf2e9, 
  #fae5d3,
  #eb984e
Accents:
Greys:
  #555,
  #333,
  #DDD

### 05 SHADOWS
0 2.4rem 4.8rem rgba(0, 0, 0, 0.1),
0 3.2rem 4.8rem rgba(0, 0, 0, 0.25),


### 06 BORDER-RADIUS
Defualt:
  10px

### 07 WHITESPACE

SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--base-gray);
}
html {
  font-size: 62.5%;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--tint-1);

  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem;
}

/* NAVIGATION */
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--dark-gray);
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:active,
.main-nav-link:hover {
  color: var(--shadow-1);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 10px;
  color: white;
  background-color: var(--main-color);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--shadow-1);
}

/* HERO */

.section-hero {
  background: var(--tint-1);
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  gap: 9.6rem;
  align-items: center;
  padding: 0 4.8rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 4.8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 100%;
  margin-right: -1.6rem;
  border: 3px solid var(--tint-1);
}

.delivered-imgs img:last-child {
  margin-right: 0;
}

.delivered-text {
  font-size: 1.6rem;
  font-weight: 600;
}

.delivered-text span {
  color: var(--shadow-1);
  font-weight: 700;
}

/* FEATURED IN */

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: var(--dark-gray);
}

.logos {
  display: flex;
  justify-content: space-between;
}

.logos img {
  height: 3.2rem;
  filter: contrast(0);
}

/* HOW IT WORKS */

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: var(--light-gray);
  margin-bottom: 1.2rem;
}

.step-img-box::after {
  content: ' ';
  z-index: -2;
  display: block;
  background-color: var(--tint-1);
  width: 60%;
  /* 60% of parents width */
  padding-bottom: 60%;
  border-radius: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  content: ' ';
  z-index: -1;
  display: block;
  background-color: var(--tint-2);
  width: 50%;
  /* 60% of parents width */
  padding-bottom: 50%;
  border-radius: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img {
  max-width: 40%;
}

.step-img-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.6;
}

/* MEALS SECTION */

.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 4.8rem rgba(0, 0, 0, 0.25);
}

.meal-title {
  font-size: 2rem;
  color: var(--base-gray);
  font-weight: 600;
  margin: 1.6rem 0;
}

.meal-attributes {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-img {
  width: 100%;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--dark-gray);
  font-weight: 600;
  border-radius: 8px;
}

.meal-icon {
  font-size: 2.4rem;
  color: var(--main-color);
}

.meal-content {
  padding: 2.2rem 4.8rem;
}

.vegeterian-chip {
  background-color: yellowgreen;
}

.vegan-chip {
  background-color: green;
}
.paleo-chip {
  background-color: coral;
}

.meal-tags {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

/* DIET LIST */

.all-recipes {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
}

/* TESTIMONIAL SECTION */

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
}
.testimonial-container {
  padding: 9.6rem;
}

.section-testimonials {
  background-color: var(--tint-1);
  grid-template-columns: 60fr 40fr;
  align-items: center;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 100%;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.2rem;
  padding: 0.8rem 0;
}

.testimonial-name {
  font-size: 1.6rem;
  color: var(--dark-gray);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
  padding: 1.2rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.3s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/* PRICING SECTION */

.section-pricing {
  padding: 9.6rem 0;
}

.plan-name {
  color: var(--shadow-1);
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 1.6rem;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: var(--base-gray);
  margin-bottom: 1.6rem;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--base-gray);
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-sign-up {
  text-align: center;
  margin-top: 3.2rem;
}

.pricing-plan {
  padding: 4.8rem;
  width: 80%;
  border-radius: 10px;
}

.pricing-plan-starter {
  justify-self: end;
  border: 4px solid var(--tint-1);
  padding: 4.6rem;
}

.pricing-plan-complete {
  background-color: var(--tint-1);
  position: relative;
  overflow: hidden;
}

.pricing-plan-complete:after {
  content: 'Best value!';
  position: absolute;
  top: 6%;
  right: -10%;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: yellow;
  padding: 0.8rem 4rem;
  transform: rotate(45deg);
}

.plan-details {
  font-size: 1.8rem;
  line-height: 1.8;
  text-align: center;
}

/* FEATURE SECTION */

.feature-title {
  font-size: 2.4rem;
  color: var(--base-gray);
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.feature-icon {
  color: var(--main-color);
  font-size: 3.8rem;
  margin-bottom: 3.2rem;
  background-color: var(--tint-1);
  padding: 1.6rem;
  border-radius: 100%;
}

/* CALL TO ACTION SECTION */

.section-cta {
  padding: 9.6rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: var(--main-color);
  box-shadow: 0 3.2rem 4.8rem rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;

  background-image: linear-gradient(-45deg, var(--tint-3), var(--main-color));
}

.cta .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-img-box {
  background-image: linear-gradient(
      -45deg,
      var(--tint-3-35),
      var(--main-color-35)
    ),
    url('../img/eating.jpg');
  background-size: cover;
  background-position: center;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem;
  color: var(--shadow-2);
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  font-family: inherit;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  background-color: var(--tint-1);
  border-radius: 10px;
  border: none;
  box-shadow: 0 3.2rem 4.8rem rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: var(--base-gray);
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem var(--base-gray-35);
}

.cta-form select {
}
.cta-form button {
}
